.container-fluid {
    margin: 20px 0 0 270px;
    padding: 20px;
    width: 75%;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.Err {
    color: red;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-success {
    background-color: #28a745;
    color: white;
    margin-right: 10px;
}

.btn-success:hover {
    background-color: #1fce48;
}

.mb-3 {
    margin-bottom: 15px;
}

.mt-1 {
    margin-top: 5px;
}