/* Body styling */

.container-fluid.listdm {
    width: 100%;
    margin-left: 270px;
    margin-top: 100px;
}

.container-fluid.listdm .card {
    width: 78%;
}

.container-fluid.listdm table {
    width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}


/* Header styling */

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}


/* Card and form styling */

.card {
    background: #fefcfc;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}


/* Button styling */

.btn {
    font-size: 14px;
    color: #fff;
    background-color: #f0932b;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f1c30d;
}


/* Input styling */

.form-control {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Table styling */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th {
    background-color: #f0932b;
    color: #fff;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* Button animation */

.btn a {
    transition: transform 0.5s ease;
}

.btn a:hover {
    transform: scale(1.1);
}

.input-group-append {
    margin-top: 10px;
}


/*  */