/* Định dạng phần tiêu đề */

h1 {
    font-size: 24px;
    color: #333;
}


/* Định dạng phần input */

.form-control {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Định dạng button */

.btn {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}


/* Định dạng khung chứa */

.card {
    border-radius: 5px;
    background-color: #fff;
}


/* Định dạng hộp chứa */

.container-fluid {
    margin: 50px 0 0 290px;
    padding: 20px;
    width: 75%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}